{% extends 'admin_base.html' %}

{% block content %}

{% load static %}

<style>
    .action{
        display:flex;
        gap:10px;
    }
    #remove-btn:hover{
        background-color: red;
    }
</style>

    <div class="container">

        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Customers List</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                    <tr>
                                        <td>{{ customer.user.userinfo.fullname }}</td>
                                        <td> {{ customer.user.username }} </td>
                                        <td> {{ customer.phone }} </td>
                                        <td> {{ customer.user.email }} </td>
                                        <td> {{ customer.address }} </td>
                                        <td>
                                            <form method="POST" action="{% url 'remove_customer' customer.user.id %}">
                                                {% csrf_token %}
                                                <button type="submit" id="remove-btn" class="btn btn-success btn-sm" style="background-color:#d73d3d;border:1px solid #d73d3d">Remove</button>
                                            </form>
                                        </td>
                                    </tr>     
                                    {% endfor %}                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

    