{% extends "user_base.html" %} 

{% block content %}

    <section class="cards">
        <div class="card">
            <h3>Total Orders</h3>
            <p>15</p>
        </div>
        <div class="card">
            <h3>Pending Orders</h3>
            <p>3</p>
        </div>
        <div class="card">
            <h3>Completed Orders</h3>
            <p>12</p>
        </div>
    </section>

    <h2>Recent Modification</h2>
    <ul class="request-item">
        {% for request in requests %}
            <li>
                <strong>{{ request.property.title }}</strong> - Modification requested by {{ request.customer.username }}<br>
                Property Id: {{ request.property.id }} <br>
                Description: {{ request.description }} <br>
                Status: {{ request.status }}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    <label>Update Status:</label>
                    <select name="status">
                        <option value="in_progress">In Progress</option>
                        <option value="completed">Completed</option>
                        <option value="rejected">Reject</option>
                    </select>
                    <button type="submit">Update</button>
                </form>
            </li>
        {% endfor %}
    </ul>

{% endblock %}